<html>
  <head>
    <title> Ontology Analyser  </title>
  </head>
  <body>
    <h1> Welcome To Ontology Analyser !</h1>
    <p>Analyse two GO ID terms:</p>

    <form method='POST'>
      <label> GO ID 1: </label>
      <input type='text' name='go1' placeholder= 'example: GO:0008150'>
      <label> GO ID 2: </label>
      <input type= 'text' name='go2' placeholder= 'example: GO:0008150'>
      <button type="submit">Analyse</button>
    </form>

{% if result %}
    <h3>Results:</h3>
    
        {% if result.ancestor %}
              <p>{{ result.go1 }} is a Broader Concept (Ancestor) of {{ result.go2 }}.</p>

        {% elif result.descendant %}
              <p>{{ result.go1 }} is a more Specific Concept (Descendant) of {{ result.go2 }}.</p>

        {% elif result.msca %}
              <p>{{ result.go1 }} and {{ result.go2 }} share a Common Ancestor: {{ result.msca }}.</p>
        {% else %}
              <p>The two GO terms are not structurally related in the ontology.</p>
        {% endif %}
            
        {% if result.paths %}
              <p><b>List Of Ontology Paths:</b></p>:
              <ul>
                {% for path in result.paths %}
                  <li>{{ path | join(" → ") }}</li>
                {% endfor %}
              </ul>
              
    
                <p> Shortest Ontology Path: {{result.shortest_path | join(" → ")}}</p>
                <p> Longest Ontology Path: {{result.longest_path | join(" → ")}}</p>
    
        {% else %}
                <p> No Path Found! </p>
            
        {% endif %}
  </body>
</html>
